/* GENERAL */
body {
    margin: 0;
    background: #000;
    font-family: "Chokh Blackboard", sans-serif;
    color: white;
}

/* NAVBAR */
.navbar {
    height: 70px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 1px solid #222;
}

.logo {
    font-size: 34px;
    font-weight: 900;
    letter-spacing: 3px;
    color: white;
}

/* HAMBURGER */
.hamburger {
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    height: 4px;
    background: white;
    border-radius: 2px;
    transition: 0.3s;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    height: 100%;
    background: #0c0c0c;
    position: fixed;
    top: 0;
    right: -250px;
    transition: 0.4s ease;
    padding-top: 60px;
    z-index: 100;
}

.sidebar a {
    display: block;
    padding: 18px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #222;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 42px;
    cursor: pointer;
    color: white;
}

/* HERO */
.hero {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-title {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

/* PRODUCT GRID */
.products {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 35px;
}

.product {
    background: #111;
    padding: 18px;
    border-radius: 14px;
    text-align: center;
    transition: 0.3s;
    transform: translateY(40px);
    opacity: 0;
}

.product img {
    width: 100%;
}

.product h3 {
    margin: 10px 0;
}

.product button {
    padding: 10px 18px;
    background: #ffffff;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.product button:hover {
    background: #d5d5d5;
}

/* REVEAL ANIMATION */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 480px) {
    .logo {
        font-size: 28px;
    }
    
    .hero-title {
        font-size: 28px;
    }

    .close-btn {
        font-size: 34px;
    }
  }
